/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px;

}

.container-header {
    width: 80%;
    margin: 0 auto;
    /* debug */
    min-height: 50px;
    border: 1px solid black;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

body {
    font-family: Arial, sans-serif;
    
}

.header {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
.nav {
  display: flex;
  flex: 2 1 300px;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.logo {
    border: 1px solid black;
}

.menu {
    border: 1px solid black;

}

.login {
    border: 1px solid black;
}

.menu-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.hero {
    width: 100%;
    margin: 0 auto;
    min-height: 80px;
    border: 1px solid black;
    background-color: rgba(4, 0, 255, 0.863);
    display: flex;
    justify-content: center;
    padding: 40px;

}

.container {
    width: 50%;
    margin: 0 auto;
    min-height: 150px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 10px;
}

.border-black {
    border: 1px solid black;
}

.bg-white {
    background-color: white;
}

.bg-pink {
    background-color: rgb(255, 0, 255);
}

.bg-aqua {
    background-color: aqua;
}

.bg-blue {
    background-color: #1e90ff;
}

.bg-green {
    background-color: #228b22;
}

.bg-cyan {
    background-color: #20b2aa;
    flex: 1;
}

.bg-dark {
    background-color: #222;
}
.bg-pink, .bg-blue, .bg-green, .bg-cyan {
  text-align: center;
}
.box {
    width: 40%;
    height: 150px;
    border: 1px dotted black;
}
.footer {
  background-color: #90fcd0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.footer .logo, .footer .bottom {
  background-color: pink;
  padding: 10px;
}